* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sarabun", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1024px;
    margin: auto;
}


/* menu-bar-styles */

#menu {
    width: 30px;
    height: 30px;
    margin: 20px 0 0px 20px;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: white;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav li a {
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
}

.nav li a:hover {
    font-weight: bold;
}

.nav li {
    padding: 12px 0;
}

.nav li a:hover {
    -webkit-transition: 1s ease;
    transition: 0.3s ease;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
    color: wheat;
}

.nav {
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}

.menu-bg,
#menu-bar {
    top: 0;
    left: 0;
    position: absolute;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    background-color: #272822;
    background-image: linear-gradient(326deg, #272822b2 0%, #da2d2dbe 74%);
    transition: 0.6s ease;
}

#menu-bar {
    z-index: 2;
}

.change-bg {
    width: 550px;
    height: 540px;
    transform: translate(-60%, -30%);
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
    transform: translateY(-6px) rotate(45deg);
}

.change #bar2 {
    opacity: 0;
}

.change {
    display: block;
}

@media screen and (min-width: 600px) {

    #menu-bar,
    .menu-bg {
        display: none;
    }
}


/* End of menu-bar styles */


/* nav-bar */

#nav-bar {
    background-color: #272822;
    background-image: linear-gradient(326deg, #272822b2 0%, #da2d2dbe 74%);
}

#nav-bar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#nav-bar ul p {
    padding-top: 3px;
    padding-left: 5px;
}

#nav-bar ul li {
    font-weight: 600;
    padding: 12px 10px;
}

#nav-bar ul li a {
    color: white;
}

#nav-bar ul li a:hover {
    -webkit-transition: 1s ease;
    transition: 0.3s ease;
    padding-bottom: 3px;
    border-bottom: 2px solid white;
    color: wheat;
}

#nav-bar ul li a:focus {
    -webkit-transition: 1s ease;
    transition: 0.3s ease;
    padding-bottom: 3px;
    border-bottom: 2px solid white;
    color: wheat;
}

@media screen and (min-width: 0px) and (max-width: 599px) {
    #nav-bar {
        display: none;
    }
}


/* end of nav-bar styles*/


/* home */

.home-slider {
    position: relative;
    height: 100vh;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: linear 5s ease-in-out;
}

.slide.current {
    opacity: 1;
}

.slide .home-content {
    color: #fff;
    position: absolute;
    bottom: 50%;
    left: -100%;
    opacity: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.slide .home-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.slide.current .home-content {
    opacity: 1;
    transform: translateX(100%);
    transition: all 0.7s ease-in-out 0.3s;
}


/* banner-images */

.slide:first-child {
    background: linear-gradient(60deg, rgba(54, 50, 50, 0.521), rgba(204, 164, 164, 0.425) 98%), url("./assets/team-2.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.slide:nth-child(2) {
    background: linear-gradient(60deg, rgba(54, 50, 50, 0.621), rgba(204, 164, 164, 0.425) 98%), url("./assets/house.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.slide:nth-child(3) {
    background: linear-gradient(60deg, rgba(54, 50, 50, 0.521), rgba(204, 164, 164, 0.425) 98%), url("./assets/team.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}


/* end of home styles */


/* about content */

.heading h1 {
    color: #a80000;
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
}

.about-content {
    margin-bottom: 3rem;
}

.about-content h2 {
    margin: 0 15px;
}

.about-content p {
    margin: 15px;
    width: 90%;
}

.about-content img {
    display: block;
    margin: 15px auto;
    max-width: 420px;
    max-height: 430px;
    width: 90%;
}

@media screen and (min-width: 700px) {
    .about-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-content p {
        max-width: 450px;
    }

    .about-content img {
        margin: 15px;
        max-width: 430px;
        max-height: 430px;
    }
}


/*end of about content */


/* top law-firm */

.top-firm {
    margin: 20px 0 0;
    height: auto;
    background-color: #211d1d;
    color: white;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 10px;
}

.top-firm strong {
    display: inline-block;
    font-weight: 600;
    font-size: 1.6rem;
    margin: 0.625rem 0 0.3125rem;
    width: 100%;
}

.top-firm span {
    font-size: 1.3rem;
    margin: 0.625rem 0 0.3125rem;
    width: 100%;
}

.top-logo {
    max-width: 100%;
    height: auto;
    margin-top: -0.875rem;
    display: inline-block;
    vertical-align: middle;
}

@media screen and (min-width: 1000px) {
    .top-firm {
        height: 5.5rem;
        position: relative;
        padding-left: 1.125rem;
        padding-right: 1.125rem;
        white-space: nowrap;
        line-height: 1.5;
        padding: 0;
    }

    .top-firm strong {
        vertical-align: top;
        width: auto;
        margin: 0 0 0 1.5625rem;
        padding-top: 1.4375rem;
    }

    .top-firm span {
        line-height: 2.1875rem;
        vertical-align: top;
        width: auto;
        border-left: 0.125rem solid #b8b8b8;
        margin-left: 0.8125rem;
        margin-top: 1.375rem;
        padding-left: 1.0625rem;
        display: inline-block;
    }
}


/* end of top law-firm */

.what-we-offer {
    background-color: #b8b8b8;
}

.what-we-offer h1 {
    padding: 10px 0;
    color: #a80000;
    text-transform: uppercase;
    text-align: center;
}



/*START css for our-services */

.banner {
    background: url(assets/Banner-services.jpg) no-repeat;
    background-size: cover;
    width: 100%;
}

.banner h1 {
    padding-top: 225px;
    padding-left: 80px;
    text-transform: uppercase;
    font-weight: bolder;
    display: inline-block;
}

.child-custody {
    background: url(assets/childcustody.jpg) no-repeat;
    background-size: cover;
    height: 250px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

.child-custody h2 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 120px;
}

.law-spouses {
    background: url(assets/Common-law-spouses.jpg) no-repeat;
    background-size: cover;
    height: 250px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

.law-spouses h2 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 120px;
}

.spousal-support {
    background: url(assets/Spousal-support.jpg) no-repeat;
    background-size: cover;
    height: 250px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

.spousal-support h2 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 120px;
}

.child-support {
    background: url(assets/Child-support.jpg) no-repeat;
    background-size: cover;
    height: 250px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

.child-support h2 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 120px;
}

.guardianship {
    background: url(assets/Guardianship.jpg) no-repeat;
    background-size: cover;
    height: 250px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

.guardianship h2 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 120px;
}

.property-asset {
    background: url(assets/Property-asset.jpg) no-repeat;
    background-size: cover;
    height: 250px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

.property-asset h2 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 120px;
}

.appeals {
    background: url(assets/Appeals.jpg) no-repeat;
    background-size: cover;
    height: 250px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

.appeals h2 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 120px;
}

.divorce {
    background: url(assets/Divorce.jpg) no-repeat;
    background-size: cover;
    height: 250px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

.divorce h2 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 120px;
}

.family-law {
    background: url(assets/Family-law.jpg) no-repeat;
    background-size: cover;
    height: 250px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

.family-law h2 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 120px;
}

.criminal {
    background: url(assets/Criminal.jpg) no-repeat;
    background-size: cover;
    height: 250px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

.criminal h2 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 120px;
}

@media screen and (min-width: 320px) {
    .banner {
        height: 35vh;
    }

    .banner h1 {
        font-size: 30px;
        padding-top: 135px;
        padding-left: 25px;
    }
}

@media screen and (min-width:700px) {
    .banner {
        height: 50vh;
    }

    .banner h1 {
        font-size: 55px;
        padding-top: 180px;
        padding-left: 45px;
    }


}


@media screen and (min-width: 1000px) {
    .banner {
        height: 60vh;
    }

    .banner h1 {
        font-size: 75px;
        padding-top: 310px;
        padding-left: 80px;
    }
}


/*END css for our-services */